<% if user_signed_in? %>

<!-- Sidebar -->
<div class="w3-sidebar w3-bar-block w3-animate-left" style="display:none;z-index:5" id="mySidebar">
  <div class="w3-container w3-dark-grey">
    <h4>Menu</h4>
  </div>

  <img src= "<% current_user.image %>" alt="Sorry" style="width:90%">
  
  <li class="w3-bar-item w3-button"></li>
  <li class="w3-bar-item w3-button"></li>
  <li class="w3-bar-item w3-button text-center">Welcome </li>
  <li class="w3-bar-item w3-button"><%= current_user.name %> </li>
  <li><%=link_to "Add Video", controller: "apiyoutube", action: "search" %></li>
        
  
  <a href="#" class="w3-bar-item w3-button">Add Video</a>
</div>

<!-- Page Content -->
<div class="w3-overlay w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" id="myOverlay"></div>

<div>
  <button class="w3-button w3-dark w3-xlarge" onclick="w3_open()">&#9776;</button>




<section class="moveright" >
    <div >
      <br>
      </div>
    <script>
      function refreshPage(){
         setTimeout(window.location.reload(),5000);
      } 
    </script>

    <% Mydb.all.each do |mydb| %>
    <div class="panel panel-success">
      <div class="panel-heading">
      <br><br>
        
        <% if mydb.email == current_user.email %> 
        <%= image_tag(mydb.image, :alt => "Pic Unavailable") %>
      <b> <%= mydb.title %> 
        <%= link_to "Open Video", mydb.vid_link,class: " btn btn-primary" ,:target => "_blank" %>
        <%= link_to 'Destroy', mydb, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger" ,  :onClick => "refreshPage()" %>
      </b>  
        
      <br><br>
      </div>

    </div>
    <% else %>

    <% end %>
      
      
    
    <% end %>
</section>





<!--************************************************************************************************************* -->
<% else %>

<div class="jumbotron text-center">
  <h1>Login!!!</h1>
  <p>Resize this responsive page to see the effect!</p> 
</div>

<% end %>
