
<% if user_signed_in? %>

<!-- Sidebar -->
<div class="w3-sidebar w3-bar-block w3-animate-left" style="display:none;z-index:5" id="mySidebar">
  <div class="w3-container w3-dark-grey">
    <h4>Menu</h4>
  </div>
  <br>
  <div class="im">
  <img src= "<%= current_user.image %>" alt="Img not found"  class="w3-circle">
  </div>
  <br><hr>
 <strong> 
  <h4 class="w3-bar-item "> <%= current_user.name %> </h4>
  <li class="w3-bar-item btn btn-primary"><%=link_to "Add Video", controller: "apiyoutube", action: "search"%>
  </li></strong>
  </div>

<!-- Page Content -->
<div class="w3-overlay w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" id="myOverlay"></div>

<div>
  <button class="w3-button w3-dark w3-xlarge" onclick="w3_open()">&#9776;</button>




<section class="moveright" >
    <div >
      <br>
      </div>
    <script>
      function refreshPage(){
         setTimeout(window.location.reload(),5000);
      } 
    </script>

    <% Mydb.all.each do |mydb| %>
      <div class="p1">
      <br><br>
        
        <% if mydb.email == current_user.email %> 
        <%= image_tag(mydb.image, :alt => "Pic Unavailable") %>
       <b> <%= mydb.title %> 
        <%= link_to "Open Video", mydb.vid_link,class: " btn btn-primary" ,:target => "_blank" %>
        <%= link_to 'Destroy', mydb, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger" ,  
        :onClick => "refreshPage()" %>
      </b>  
        
      <br><br>
   </div>
    <% else %>

    <% end %>
      
      
    
    <% end %>
</section>





<!--************************************************************************************************************* -->


<% else %>
   <br><br><br><br><br>
<div class="text-center">
<h1><strong>Sign Up!!</strong></h1>
</div>

<% end %>
