
<% if user_signed_in? %>


<!-- Page Content -->
<div class="w3-overlay w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" id="myOverlay"></div>


<section class="moveright" >
    <div >
      <br>
      </div>
    <script>
      function refreshPage(){
         setTimeout(window.location.reload(),5000);
      } 
    </script>

    <% Mydb.all.each do |mydb| %>
      <section>
      <div class="p1">
      <br><br>
        
        <% if mydb.email == current_user.email %> 
        <%= image_tag(mydb.image, :alt => "Pic Unavailable") %>
       <b> <%= mydb.title %> 
        <%= link_to "Open Video", mydb.vid_link,class: " btn btn-primary" ,:target => "_blank" %>
        <%= link_to 'Delete', mydb, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger" ,  
        :onClick => "refreshPage()" %>
        <button class="btn btn-success" onclick="<%= "myFunction" + mydb.id.to_s %>()">Play Here</button>

        <div id="myDIV<%= mydb.id %>">
        <br>
        <iframe width="420" height="345" src="<%= mydb.vid_link.sub("watch?v=","embed/") %>">
        </iframe>
        

        <script>
        function <%= "myFunction" + mydb.id.to_s %>() {
            var x = document.getElementById("myDIV<%= mydb.id %>");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
        </script>
        <script>
        <%= "myDIV" + mydb.id.to_s %>.style.display = "none";  
        </script>
        </div>
      </b>  
        
      <br><br>
   </div>
   </section>
    <% else %>

    <% end %>
      
      
    
    <% end %>
</section>





<!--************************************************************************************************************* -->


<% else %>
   <br><br><br><br><br>
<div class="text-center">
<h1><strong>Sign Up!!</strong></h1>
</div>

<% end %>
