<section class="center">

	
<h1><strong> How To Use ??</strong></h1> 
<br><br>	
<h2><strong>- Open it</strong></h2>
<a target="_blank" href="<%= asset_path 'img1.png' %>">
  <img src="<%= asset_path 'img1.png' %>" style="width:350px">
</a>


<br><br>
<h2><strong>- log in using facebook.</strong></h2>
<a target="_blank" href="<%= asset_path 'img2.png' %>" style="border:5px"  >
  <img src="<%= asset_path 'img2.png' %>" style="width:350px"  >
</a>

<br><br>
<h2><strong>- enter details and search .</strong></h2>
<a target="_blank" href="<%= asset_path 'img3.png' %>">
  <img src="<%= asset_path 'img3.png' %>" style="width:350px">
</a>

