<section class="center">

	
<h1><strong> How To Use ??</strong></h1> 
<br><br>	
<h2><strong>- Open Youtube</strong></h2>
<a target="_blank" href="<%= asset_path 'img1.png' %>">
  <img src="<%= asset_path 'img1.png' %>" style="width:350px">
</a>


<br><br>
<h2><strong>- Search Video</strong></h2>
<a target="_blank" href="<%= asset_path 'img2.png' %>" style="border:5px"  >
  <img src="<%= asset_path 'img2.png' %>" style="width:350px"  >
</a>

<br><br>
<h2><strong>- Copy the Link Id (after '=')</strong></h2>
<a target="_blank" href="<%= asset_path 'img3.png' %>">
  <img src="<%= asset_path 'img3.png' %>" style="width:350px">
</a>


<br><br>
<h2><strong>- Click "Add Video".</strong></h2>
<a target="_blank" href="<%= asset_path 'img4.png' %>">
  <img src="<%= asset_path 'img4.png' %>" style="width:350px">
</a>


<br><br>
<h2><strong>- Paste the link & Add video to your playlist.</strong></h2>
<a target="_blank" href="<%= asset_path 'img5.png' %>">
  <img src="<%= asset_path 'img5.png' %>" style="width:350px">
</a>

<br><br>
<h2><strong>- Playlist in Created.</strong></h2>
<a target="_blank" href="<%= asset_path 'img6.png' %>">
  <img src="<%= asset_path 'img6.png' %>" style="width:350px">
</a>
</section>