<section class="center">

	
<h1><strong> How To Use ??</strong></h1> 
<br><br>	
<h2><strong>- Open App</strong></h2>
<a target="_blank" href="<%= asset_path 'img0.png' %>">
  <img src="<%= asset_path 'img0.png' %>" style="width:350px">
</a>

<br><br>	
<h2><strong>- Log In Using Facebook</strong></h2>
<a target="_blank" href="<%= asset_path 'img1.png' %>">
  <img src="<%= asset_path 'img1.png' %>" style="width:350px">
</a>


<br><br>
<h2><strong>- Open Youtube.</strong></h2>
<a target="_blank" href="<%= asset_path 'img2.png' %>" style="border:5px"  >
  <img src="<%= asset_path 'img2.png' %>" style="width:350px"  >
</a>

<br><br>
<h2><strong>- Copy Youtube Video LinkId. </strong></h2>
<a target="_blank" href="<%= asset_path 'img3.png' %>">
  <img src="<%= asset_path 'img3.png' %>" style="width:350px">
</a>

<br><br>
<h2><strong>- Click on Add Video .</strong></h2>
<a target="_blank" href="<%= asset_path 'img4.png' %>">
  <img src="<%= asset_path 'img4.png' %>" style="width:350px">
</a>

<br><br>
<h2><strong>- Enter ID & Add Video . </strong></h2>
<a target="_blank" href="<%= asset_path 'img5.png' %>">
  <img src="<%= asset_path 'img5.png' %>" style="width:350px">
</a>

<br><br>
<h2><strong>- Enjoy Your Playlist .</strong></h2>
<a target="_blank" href="<%= asset_path 'img6.png' %>">
  <img src="<%= asset_path 'img6.png' %>" style="width:350px">
</a>

<br><br>
<h2><strong>- Play , Save or Delete Videos .</strong></h2>
<a target="_blank" href="<%= asset_path 'img7.png' %>">
  <img src="<%= asset_path 'img7.png' %>" style="width:350px">
</a>
