<!DOCTYPE html>
<html>
  <head>
    <title>Ticket Booking</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
      body { 
       background-color: #BEBCBB ;
      }
    </style>
    
    <script>
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}
</script>
  </head>

  <body bgcolor="#E6E6FA">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header active">
    <strong><%= link_to "FlightBooking", flight_search_path , class: "active navbar-brand" %></strong>  
    </div>
    <ul class="nav navbar-nav">

      <li > <%= link_to "Home", flight_search_path %>  </li>
      <li ><%= link_to "Contact", information_contact_path %></li>
      <li > <%= link_to "How to Use ", usage_steps_path %></li>
      <li><%= link_to "Policy", privacy_policy_path %><li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <div style="padding-top: 7px; padding-right: 8px;">
 <% unless current_user %> 
      
      <%= link_to "Sign Up", user_facebook_omniauth_authorize_path , class: "btn btn-success" %>
      <% else %>
      <% current_user[:name] %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete , class: "btn btn-danger" %>
   
    <% end %>      
      </div>
     </ul>
  </div>
</nav>

<!------------------------------ Sidebar ------------------------------------->

<% if user_signed_in? %>
<div class="w3-sidebar w3-bar-block w3-animate-left" style="display:none;z-index:5" id="mySidebar">
  <div class="w3-container w3-dark-grey">
    <h4>Menu</h4>
  </div>
  <br>
  <div class="im">
  <img src= "<%= current_user.image %>" alt="Img not found"  class="w3-circle">
  </div>
  <br><hr>
 <strong> 
  <h4 class="w3-bar-item "> <%= current_user.name %> </h4>
  <%=link_to "Mytickets", mytickets_details_path , class: "w3-bar-item btn btn-primary" %>
  <hr>
  <%= link_to "Contact", information_contact_path , class: "w3-bar-item btn btn-primary" %>
    <hr>
  <%= link_to "How to Use ", usage_steps_path, class: "w3-bar-item btn btn-primary" %>
  <hr>
  <%= link_to "Policy", privacy_policy_path, class: "w3-bar-item btn btn-primary" %>
  </strong>
  </div>

<div>
  <button class="w3-button w3-dark w3-xlarge" onclick="w3_open()">&#9776;</button>
</div>

    <%= yield %>
    <% else %>
    <br><br><br><br><br>
<div class="text-center">
<h1><strong>Sign Up!!</strong></h1>
</div>
    <% end %>
  </body>
</html>
